<% content_for :sidebar do %>
  <%= render "layouts/nav_evaluation" %>
<% end %>

<h3> Edit Evaluation for <%= @evaluation.patient.full_name %></br></h3>


<%= form_for([@patient, @evaluation]) do |f| %>
   <%= render 'fields', :f => f %>
   <%= f.submit "Update Evaluation" %>
   <%=  link_to "Cancel", patient_path(@patient) %>
<% end %>
 
    
   
   

  
