<% content_for :sidebar do %>
  <%= render "layouts/nav_patient" %>
<% end %>

<h3><%= @patient.f_name%> <%=@patient.s_name %> Evaluation</h3>

<table class="main">
  <tr>
    <th> <%= sort_link @search, :created_at, "Date" %></th>
    <th> <%= sort_link @search, :user_id, "Created By" %></th>
    <th> Evaluation </th>
    <th>Action</th>
  </tr>
  <%= render @evaluations %>
</table>  
 
   
   

  
