<% content_for :sidebar do %>
  <%= render "layouts/nav_patient" %>
<% end %>

<h3> New Evaluation for <%= @patient.f_name + " " + @patient.s_name %></br></h3>
<h4><em> Osteopath: <%=current_user.name%></em></h4> 

<%= form_for([@patient, @evaluation]) do |f| %>
   <%= render 'fields', :f => f %>
   <%= f.submit "Submit Evaluation" %>
   <%=  link_to "Cancel", patient_path(@patient) %>
<% end %>
   

  
