 <tr>
 <td><%= link_to treatment.created_at.strftime("%e/%_m/%Y "), [treatment], :action => :show %> </td>
 <td colspan = "3">Treated by:<%= treatment.user.name %> </td>
 </tr>
 <tr>
 
 <td><%= treatment.notes %> </td>
 <td><%= treatment.tests %></td>
 <td><%= treatment.treatment %></td>
 <td><%= link_to "Edit", (edit_treatment_path(treatment)) %></td>
 </tr>
  
 
