<% content_for :sidebar do %>
  <%= render "layouts/nav_main" %>
  <%= render "layouts/nav_treatment" %>
<% end %>
<h3> Edit Treatment </h3>

<%= form_for([@treatment]) do |f| %>
   <%= render 'fields', :f => f %>
   <%= f.submit "Update Treatment" %>
   <%=  link_to "Cancel", patient_treatments_path(@treatment.patient_id) %>
   
<% end %>

