<%= debug @treatments %>
<h3><%= @patient.f_name%> <%=@patient.s_name %> treatment record</h3>
<h4><%= pluralize(@number,  'treatment')%>,

  last was <%= time_ago_in_words(@last_treatment, 
                     include_seconds = false) %> ago  </h4>

  <%= will_paginate @treatments %>
    <table class="treatments">
    <%= render @treatments %>
    </table>
  <%= will_paginate @treatments %>

