<h3> New Treatment for <%= @patient.f_name + " " + @patient.s_name %></br></h3>
<h4><em> Osteopath: <%=current_user.name%></em></h4> 
<%= form_for([@patient, @patient.treatments.build]) do |f| %>
   <%= f.label :notes, "Notes" %></br>
   <%= f.text_area :notes %> </br>
   <%= f.label :tests, "Examination" %></br>
   <%= f.text_area :tests %></br>
   <%= f.label :treatment, "Treatment" %></br>
   <%= f.text_area :treatment %>
   <%= f.submit "Submit Treatment" %>
   <%=  link_to "Cancel", patient_path(@patient) %>
   
<% end %>

