<%= render 'shared/nav' %>
<h3> New Treatment for <%= @patient.f_name + " " + @patient.s_name %></br></h3>
<h4><em> Osteopath: <%=current_user.name%></em></h4> 

<%= form_for([@patient, @treatment]) do |f| %>
   <%= render 'fields', :f => f %>
   <%= f.submit "Submit Treatment" %>
   <%=  link_to "Cancel", patient_path(@patient) %>
<% end %>

