<% content_for :sidebar do %>
  <%= render "layouts/nav_treatment" %>
<% end %>
<h3> Treatment for <%= @treatment.patient.full_name %></h3>
 <p>    Date: <%=  @treatment.created_at.strftime("%e/%m/%Y ") %> by 
     <%= @treatment.user.name %> </p>
      


<table class = "profile">
  
  <tr>
    <td>Notes</td>
    <td class= "main"> <%= @treatment.notes %></td>
  </tr>
  <tr>
    <td>Examinations</td>
    <td class= "main"> <%=  @treatment.tests %></td>
  </tr>
  <tr>
    <td>Treatment</td>
    <td class= "main"> <%=  @treatment.treatment %></td>
  </tr>
</table>
