<tr>
 <td><%= patient.created_at.strftime("%e/%_m/%Y ") %> </td>
 <td><%= link_to patient.full_name , patient %> </td>
 <td><%= link_to "Edit" , edit_patient_path(patient) %> 
  <%= if current_user.admin? %>
    | <%= link_to "Delete", patient, :method => :delete, :confirm => "You sure?",
                        :title => "Delete #{patient.f_name} #{patient.s_name}" %></td>
 <td><%= link_to "Treatments" , patient_treatments_path(patient) %> 
    |<%= link_to "New Treatment" , new_patient_treatment_path(patient) %>  </td>
 
 </tr>
  
