<%= render 'shared/nav' %>
<h3>Update <%= @patient.f_name + " " + @patient.s_name %></h3>
 
    <%= form_for(@patient) do |f| %>
    <%= render 'fields', :f => f %>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
    <% end %>
    
   </div> <!-- closes blueprint span tag -->
   

