<% content_for :sidebar do %>
  <%= render "layouts/nav_main" %>
<% end %>
<h2>All patients</h2>
  
 <%= form_for @search do |f| %>
  
      <%= f.label :full_name_like, "First or Surname" %>
      <%= f.text_field :f_name_or_s_name_contains, :size => 15 %>
      
      
    
    
      <%= f.submit "Search" %>
    
<% end %>
</br>
<% unless @patients.empty? %>
<%= will_paginate @patients %>
<table class = "main">
  <tr>
    <th> <%= sort_link @search, :f_name, "First" %>, <%= sort_link @search, :s_name, "Surname" %></th>
    <th>Patient</th>
    <th>Treatment</th>
    <th>Evaluation</th>
  </tr>
    <%= render @patients %>
    </table>
<% end %>
