
<% content_for :sidebar do %>
  <%= render "layouts/nav_main" %>
<% end %>
<h3>Patients <% if @search.f_name_or_s_name_contains.blank? %> :All </h3> 
  <% else %>
    <h4>First or Surname contains " <%= @search.f_name_or_s_name_contains %> " </h4>
  <% end %>
    
</br>
<% unless @patients.empty? %>
<%= will_paginate @patients %>
<table class = "main">
  <tr>
    <th> <%= sort_link @search, :f_name, "First" %>, <%= sort_link @search, :s_name, "Surname" %></th>
    <th>Patient</th>
    <th>Treatment</th>
    <th>Evaluation</th>
  </tr>
    <%= render @patients %>
    </table>
<% end %>
