
<h1>All patients</h1>
 <%= form_for @search do |f| %>
  
      <%= f.label :f_name_like, "First name" %>
      <%= f.text_field :f_name_contains, :size => 15 %>
      <%= f.label :s_name_like, "Surname" %>
      <%= f.text_field :s_name_contains, :size => 15 %>
    
    
    
      <%= f.submit "Search" %>
    
<% end %>
</br>
<% unless @patients.empty? %>
<%= will_paginate @patients %>
<table class = "main">
  <tr>
    <th> <%= sort_link @search, :created_at, "Date registered" %></th>
    <th> <%= sort_link @search, :f_name, "First name" %></th>
    <th> <%= sort_link @search, :s_name, "Surname" %></th>
    </th>
    <th>Patient</th>
    <th>Treatment</th>
    <th>Evaluation</th>
  </tr>
    <%= render @patients %>
    </table>
<% end %>
