<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
     
      <% if signed_in? %>
     <li><%= link_to_unless_current("Users", users_path) %></li>
      
      <li><%= link_to_unless_current("Patients", patients_path) %></li>
      <li><%= link_to_unless_current("New patient", new_patient_path, :controller => "/patients", :action =>"new") %></li>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
      </ul>
    <% unless @patient.nil? || @patient[:id].blank? %>
      <%= render 'layouts/nav_patient' %>
    <% end %>
 
  </nav>
 
</header>

