<nav>
  <ul>
  
    
    <% if signed_in? %>
      <li><%= link_to_unless_current("Patients", patients_path) %></li></br>
      <li><%= link_to_unless_current("New patient", new_patient_path) %></li></br>
    <% end %>
    
    <li><%= link_to_unless_current("Show",  patient_path(@patient))%>
    </li></br>
    <li><%= link_to_unless_current("Edit", edit_patient_path(@patient))%> 
    </li></br>
    <% if current_user.admin? %>
      <li><%= link_to "Delete", :patient, :method => :delete,
      :confirm =>"Are you sure?" %> </li></br>
    <% end %>
  <hr/> 
    <% unless(@patient.treatments).blank? %>
      <li><%= link_to_unless_current("Treatments", patient_treatments_path(@patient))%>
      </li></br>
    <% end %>
    <li><%= link_to_unless_current("New Treatment",new_patient_treatment_path(@patient))%>
    </li></br>
  <hr/> 
    <% unless(@patient.evaluations).blank? %>
      <li><%= link_to_unless_current("Evaluations", patient_evaluations_path(@patient))%>
      </li></br>
    <% end %>
    <li><%= link_to_unless_current("New Evaluation",new_patient_evaluation_path(@patient))%>
    
  </ul>
</nav>
