
<nav>
  <ul>
   <% if signed_in? %>
      <li><%= link_to_unless_current("Patients", patients_path) %></li></br>
      <li><%= link_to_unless_current("New patient", new_patient_path) %></li></br>
    <% end %>
    
    <li><%= link_to_unless_current("Show",  patient_path(@treatment.patient))%>
    </li></br>
    <li><%= link_to_unless_current("Edit", edit_patient_path(@treatment.patient))%> 
    </li></br>
    <% if current_user.admin? %>
      <li><%= link_to "Delete", @treatment, :method => :delete, 
         :confirm => "You sure?", :title => "Delete #{@treatment.patient.f_name} 
         #{@treatment.patient.s_name}"%> </li></br>
    <% end %>
  <hr/>  
    <% unless(@treatment.patient.evaluations).blank? %>
      <li><%= link_to_unless_current("Evaluations", 
                                     patient_evaluations_path(@treatment.patient))%>
      </li></br>
    <% end %>
    <li><%= link_to_unless_current("New Evaluation",
                                   new_patient_evaluation_path(@treatment.patient))%>
    </li></br>
  <hr/>  
    <% unless(@treatment.patient.treatments).blank? %>
      <li><%= link_to_unless_current("Treatments", 
                                     patient_treatments_path(@treatment.patient))%>
      </li></br>
    <% end %>
    <li><%= link_to_unless_current("New ",
                                   new_patient_treatment_path(@treatment.patient))%>
    </li></br>
    <% if(@patient).blank? %>
      <li> <%= link_to_unless_current("Edit ", edit_treatment_path(@treatment)) %>
      </li></br>
      <li> <%= link_to_unless_current("Show ", treatment_path(@treatment)) %>
      </li></br>
      <% if current_user.admin? %>
        <li> <%= link_to "Delete", @treatment, :method => :delete, 
        :confirm => "Are you sure?"%>
        </li></br>
    
      <% end %>
    <% end %>
    
  </ul>
</nav>
