<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <%= stylesheet_link_tag "vendor", :media => "screen" %>
    <%= stylesheet_link_tag "application", :media => "screen" %>
    <%= stylesheet_link_tag "vendor-print", :media => "print" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="container">
     <%= render 'layouts/header' %>
     
      <div class="span-18 " id="content"> 
        <section class="round">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </section>
      </div>
      <div class="span-5 last" id="sidebar">
        <section class= "round">
          <%= yield :sidebar %>
        </section>
      </div> 
       
      <div id="footer" class="span-18">
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>

