<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <%= stylesheet_link_tag "vendor", :media => "screen" %>
    <%= stylesheet_link_tag "application", :media => "screen" %>
    <%= stylesheet_link_tag "vendor-print", :media => "print" %>
    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag 'jquery_ujs' %>
    <%= csrf_meta_tag %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  
    <div class="container">
     <div class="span-24" id="head">
       <%= render 'layouts/header' %>
     </div>
     <div class="span-17 " id="content"> 
       <section class="round">
         <% flash.each do |key, value| %>
           <div class="flash <%= key %>"><%= value %></div>
         <% end %>
         <%= yield %>
        </section>
      </div>
      <div class="span-6 last" id="sidebar">
        <section class= "round">
          
          <%= render '/layouts/search_box'%>
          <%= yield :sidebar %>
        </section>
      </div> 
       
      <div id="footer" class="span-17">
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>

